:root {
  --main-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --accent-color: #2196f3;
  --text-color: #212121;
  --pretitle-text-color: #757575;
  --logo-color: #000000;
  --button-hover-color: #188ce8;
  --button-portfolio-color: #f5f4fa;
  --border-color: #ececec;
  --icons-color: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  width: 100%;
}
/*HEADER*/
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  color: var(--logo-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  display: block;
  margin-right: 93px;
}
span {
  color: var(--accent-color);
}
header {
  border-bottom: 1px solid var(--border-color);
}
nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

header > ul {
  align-items: center;
}
.pretitleColor {
  color: var(--pretitle-text-color);
}

header li:hover,
header li:focus {
  color: var(--accent-color);
}
.nav {
  display: flex;
  align-items: center;
}
header a {
  padding-top: 25px;
  padding-bottom: 25px;
}
header ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header li + li {
  margin-left: 50px;
}
.iconNav {
  margin-right: 10px;
  vertical-align: middle;
}
header li:hover .iconNav,
header li:focus .iconNav {
  fill: var(--accent-color);
}
/*STUDIO HEADER*/
.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(0.18, 0.19, 0.23, 0.4),
      rgba(0.18, 0.19, 0.23, 0.4)
    ),
    url("../icons/Background.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: var(--background-dark-color);
  padding: 200px 0px;
  border: #000000 solid 1px;
  box-shadow: -1px 4px 7px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  color: var(--main-color);

  max-width: 696px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.studioButton {
  color: var(--main-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  display: block;
  margin: auto;
  padding: 6px 28px;
}
.studioButton:hover,
.studioButton:focus {
  background-color: var(--button-hover-color);
  border-color: transparent;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.features {
  padding: 94px 0px;
}
.bcIconReatures {
  background-color: var(--background-light-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}
.features h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features p {
  color: var(--pretitle-text-color);

  font-size: 14px;
  line-height: 1.7;
}
.features ul {
  display: flex;
}

.features li {
  flex-basis: calc((100% - 90px) / 4);
}
.features li:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.whatWeDo {
  padding: 0px 0px 94px 0px;
}

.whatWeDo ul {
  display: flex;
}
.whatWeDo li {
  flex-basis: calc((100% - 60px) / 3);

  position: relative;
}
.whatWeDo li:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.whatWeDo h3 {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  text-align: center;

  position: absolute;
  bottom: 0px;
  width: 100%;
}
.ourTeam {
  background-color: var(--button-portfolio-color);
  font-size: 16px;
  line-height: 1.2;

  padding-top: 94px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 94px;
}
.teamPhotos {
  background-color: var(--main-color);

  width: 270px;
  text-align: center;
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.14),
    0.5px 3px 3px 0.5px rgba(0, 0, 0, 0.12),
    -0.5px 3px 3px 0.5px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ourTeam h3 {
  margin-top: 30px;
}
.teamPhotosDescription {
  max-width: 200px;
  margin: 30px;
}

.ourTeam p {
  color: var(--pretitle-text-color);

  margin-top: 10px;
  margin-bottom: 16px;
}
.ourTeam ul {
  display: flex;
}
.ourTeam li {
  display: inline-block;
  flex-basis: calc((100%-90px) / 4);
}
.ourTeam li:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.socialNetworkIconsList a {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--icons-color);
}
.socialNetworkIconsList {
  display: flex;
  flex-basis: 206px;
  margin-bottom: 30px;
  fill: var(--icons-color);
}
.socialNetworkIconsList li:not(:nth-last-child(1)) {
  margin-right: 10px;
}
.socialNetworkIconsList a:hover,
.socialNetworkIconsList a:focus {
  fill: var(--main-color);
  background-color: var(--accent-color);
  border-radius: 50px;
}
.custumer {
  padding: 94px 0px;
}
.custumerList {
  display: flex;
  margin-top: 50px;
}
.custumer a {
  padding: 16px 32px;
  fill: var(--icons-color);
  border: var(--icons-color) solid 1px;
  border-radius: 5px;
}
.custumer li:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.custumerList a:hover,
.custumerList a:focus {
  fill: var(--accent-color);
  border: var(--accent-color) solid 1px;
  border-radius: 5px;
}
/*STUDIO HEADER*/
/*FOOTER*/
footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-dark-color);
  display: block;
}
.notFlex {
  margin: 60px 0px;
}
footer .logo {
  color: var(--main-color);
  margin-bottom: 20px;
}
.address {
  color: var(--main-color);
  font-style: normal;
  margin: 0px;
}

address a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  margin-top: 9px;
}
address a:hover,
address a:focus {
  color: var(--accent-color);
}
footer .container {
  display: flex;
}
.flex {
  margin: 72px auto 100px 70px;
}
.flex p {
  text-transform: uppercase;
  color: var(--main-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;

  margin-bottom: 20px;
}
.flex a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  fill: var(--main-color);
}

/*FOOTER*/
/*PORTFOLIO*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 0px;
  padding-left: 0px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolioButton {
  background-color: var(--button-portfolio-color);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;

  display: block;
  padding: 6px 22px;
  flex-basis: calc((100%-32) / 5);
}
.buttonList li:not(:nth-last-child(1)) {
  margin-right: 8px;
}
.buttonList {
  display: flex;
  height: 54px;
  width: 614px;
  margin: 0px auto 34px auto;
}
.portfolioButton:hover,
.portfolioButton:focus {
  background-color: var(--accent-color);
  border-color: transparent;
  color: var(--main-color);
  box-shadow: 0px 5px 1.5px -1.5px rgba(0, 0, 0, 0.14);
}

.portfolioCard {
  background: var(--main-color);

  box-sizing: border-box;
  width: 370px;
}
.portfolioCard:hover {
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.14),
    0.5px 3px 3px 0.5px rgba(0, 0, 0, 0.12),
    -0.5px 3px 3px 0.5px rgba(0, 0, 0, 0.06);
}
.portfolioCardList li:not(:nth-last-child(3n)) {
  margin-left: 30px;
}
.portfolioCardList li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolioCardDescription {
  margin: 0px 24px 20px 24px;
  max-width: 322px;
}
.border {
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolioCard h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolioCard p {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}
.portfolioCardList {
  display: flex;
  flex-wrap: wrap;
}
/*PORTFOLIO*/
